---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

## Mentoring

I am committed to mentoring the next generation of researchers in computational neuroscience and clinical neuroimaging. Over the past three years, I have mentored undergraduate and post-baccalaureate research assistants on projects spanning neuroimaging analysis, computational modeling, and clinical data science.

*Detailed mentoring list to be updated.*
